body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

li {
    list-style: none;
}

#messagesReceived ul {
    padding: 0;
    margin: 0;
}

#messagesReceived li {
	position: relative;
    width: 95%;
	height: auto;
    padding-top: 5px;
    padding-bottom: 5px;
	background-color: #fff;
	border: 1px solid #666;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 1px 1px 2px #888;
	-moz-box-shadow: 1px 1px 2px #888;
	box-shadow: 1px 1px 2px #888;
    margin: 10px;
}

#messagesReceivedContainer {
    width: 50%;
    height: 400px;
    border: 1px solid black;
    overflow: auto;
    position: relative;
    margin-top: 20px;
}

#connectedUsers {
    border: 1px solid black;
    width: 20%;
}
#messageSendContainer {
    border: 1px solid black;
    margin: 1em;
    width: 30%;
    text-align: center;
}

input {
    position: relative;
    width: auto;
    margin: 0 auto;
}