body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

li {
    list-style: none;
}

#messagesReceivedContainer {
    width: 50%;
    height: 400px;
    border: 1px solid black;
    overflow: auto;
    position: relative;
    margin-top: 20px;
}

#connectedUsers {
    top: 150px;
    right: 250px;
    float: right;
    width: 20%;
    max-width: 20%;
    height: 200px;
    max-height: 200px;
    border: 1px solid black;
    position: absolute;
}