@{
    ViewBag.Title = "Home Page";
}

@section scripts{
    @Scripts.Render("~/bundles/signalR")
    @Scripts.Render("~/signalr/hubs")
    @Scripts.Render("~/bundles/app")

}
<audio id="messageAlertSound">
    <source src="./Content/Assets/MessageSound.mp3" type="audio/mpeg"/>
</audio>

<div id="messagesReceivedContainer">
    <ul id="messagesReceived"></ul>
</div>

<div id="connectedUsers">
    <h4>Connected Users List</h4>
    <ul id="listOfConnectedUsers">

    </ul>
</div>

<div id="messageSendContainer">
    <input id="messageBox" type="text"/>
    <input id="sendMessageButton" class="btn" type="button" value="Send"/>
    <input id="image-upload" type="file" accept="image/*"/>
</div>



@*<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">Welcome to EDA chat!</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a>
    </p>
</div>*@

@*<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>*@